h1 {
    color: red;
}

#fusion {
    height: 600px;
    width: auto;
    border: 5px solid rgb(255, 0, 0);
}

body {
    background-image: linear-gradient(to bottom, blue, black);
}

footer {
    color: white;
}

figcaption {
    color: white;
}

html {
    font-family: sans-serif;
}