html {
    text-align: center;
    background-image: url("background.jpeg");
    color: seashell;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: #222;
}

header img {
    height: 50px;
    width: auto;
    margin: 3px;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 5px;
}

header ul {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

header li {
    display: inline-flex;
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

/* Mission */
.missionStatement {
    display: inline-flex;
    background-image: url("mission.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
    width: 100%;
    height: 57vw;
    align-items: center;
    margin: 19px 0 0 0;
}

.missionStatement h1 {
    background-color: green;
    color: seashell;
    width: 100%;
    opacity: 0.8;
}

/* Employees */
.ourEmployees {
    background-color: dimgray;
    padding-bottom: 10px;
}

.ourEmployees h2 {
    background-color: black;
    color: seashell;
    opacity: 0.8;
}

.ourEmployees p {
    margin-left: 5%;
    margin-right: 5%;
}

.ourEmployees div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 32%;
    background-color: lightgray;
    color: black;
}

.ourEmployees img {
    height: 350px;
    width: 250px;
}

/* Locations */

.locations {
    background-color: dimgray;
    margin-bottom: 19.92px;
}

.locations div {
    display: inline-flex;
    flex-direction: column;
    margin-left: 0.3%;
    margin-right: 0.3%;
    margin-bottom: 1%;
    background-color: lightgray;
    color: black;
    border: 1px solid black;
}

.locations img {
    width: 440px;
    height: 284.8px;
    margin-left: auto;
    margin-right: auto;
}

.locations h2 {
    background-color: black;
    color: seashell;
    opacity: 0.8;
}

/* Footer */

footer {
    background-color: dimgray;
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%
}

@media only screen and (max-width: 820px) {
    .ourEmployees div {
        display: flex;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .locations div {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .locations img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 360px) {
    header img {
        display: none;
    }
}