html {
    text-align: center;
    background-image: url("background.jpeg");
    color: seashell;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: #222;
}

header img {
    height: 50px;
    width: auto;
    margin: 3px;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 5px;
}

header ul {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

header li {
    display: inline-flex;
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

/* Mission */
.missionStatement {
    display: inline-flex;
    background-image: url("mission.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
    width: 100%;
    height: 57vw;
    align-items: center;
    margin: 19px 0 0 0;
}

.missionStatement h1 {
    background-color: green;
    color: seashell;
    width: 100%;
    opacity: 0.8;
}

/* Employees */
.ourEmployees {
    background-color: dimgray;
}

.ourEmployees h2 {
    background-color: black;
    color: seashell;
    opacity: 0.8;
}

.ourEmployees div {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
}

.ourEmployees img {
    height: 350px;
    width: 250px;
}

/* Locations */

.locations {
    background-color: dimgray;
    margin-bottom: 19.92px;
}

.locations div {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
}

.locations img {
    width: 440px;
    height: 284.8px;
    margin-left: auto;
    margin-right: auto;
}

.locations h2 {
    background-color: black;
    color: seashell;
    opacity: 0.8;
}

/* Footer */

footer {
    background-color: dimgray;
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%
}